@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    font-size: 16px;
}
.theme1-bg{
    background-color: hsl(222, 26%, 31%);
}
main{
    width: 340px;
    /* border: 2px solid red; */
    margin: 20% auto;
}
header{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
header h2{
    color: hsl(0, 0%, 100%);
    letter-spacing: 2px;
}
.display-answer{
    width: 100%;
    height: 7rem;
    border-radius: 10px;
    background-color: hsl(224, 36%, 15%);
    border: none;
    color: hsl(0, 0%, 100%);
    font-size: 2rem;
}
.input-btn{
    padding: 1.6rem;
    width: 100%;
    /* height: 60vh; */
    background-color: hsl(223, 31%, 20%);
    margin-top: 2rem;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4, 60px);
    grid-template-rows: repeat(5, 65px);
    grid-gap: 15px;
}
.number-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsl(221, 14%, 31%);
    font-size: 1.2rem;
    border-radius:5px;
    background-color: hsl(30, 25%, 89%);
    box-shadow: 0 5px 0 hsl(28, 16%, 65%);
}
.clear{
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
    color: hsl(0, 0%, 100%);
    border-radius: 5px;
    background-color: hsl(225, 21%, 49%);
    box-shadow: 0 5px 0 hsl(224, 28%, 35%);
}
.reset-btn{
    grid-column: 1 / 3;
}
.equal-btn{
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsl(0, 0%, 100%);
    border-radius: 5px;
    background-color: hsl(6, 63%, 50%);
    box-shadow: 0 5px 0 hsl(6, 70%, 34%);
    grid-column: 3 / -1;
}